h1{
    color: #333333;
    font-family: Lato;
    font-size: 45px;
    font-weight: 400;
    line-height: 60px;
    position: absolute;
    margin: 0px;
}

h2{
    color: #333333;
    font-family: Lato;
    font-size: 24px;
    font-weight: 400;
    line-height: 46px;
    margin: 0px;
    max-height: 23px;
    position: absolute;
}

h3{
    width: 899px;
    height: 54px;
    opacity: 0.8;
    color: #333333;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    line-height: 34px;
    position: absolute;
    text-align: center;
}

p{
    opacity: 0.8;
    color: #333333;
    font-family: Lato;
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
    margin: 0px;
    position: absolute;
}


/* Style for "Layer 91" */
.Layer91{
    position: relative;
    width: 1916px;
    height: 1124px;
    background-image:url(../images/image1.jpg);
  }
/* Style for "Colorful Flat" */

.Layer91 div.box{
    position: absolute;
    width:520px;
    height: 47px;
    left: 721px;
    top: 143px;
}

 .Layer91 h2{
    position: relative;
    color: #ffffff;
    font-size: 62px;
    line-height: 40px;
    text-transform: uppercase;
}

.Layer91 h2.bold{
    float: left;
    font-family: "Lato - Black";
    font-weight: 900;
}

.Layer91 h2.reg{
    float: right;
    font-family: Lato;
    font-weight: 300;
}

/* Style for "Menu-ico" */

.menu-ico{
    position: absolute;
    left: 116px;
    top: 109px;
    width: 54px;
    height: 36px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
    color: #ffffff;
    font-family: "Material Icons";
    font-size: 72px;
    font-weight: 400;
    line-height: 61.36px;
    text-transform: uppercase;
    margin: 0px;
}

/* Style for "The best of" */

.The-best-o{
    position: absolute;
    top: 324px;
    left: 715px;
    width: 483px;
    height: 32px;
    color: #ffffff;
    font-family: Lato;
    font-size: 34px;
    font-weight: 400;
    line-height: 56px;
    margin: 0px;
}

 /* Style for "Web Proffesionals" */

.web-proffe{
    position: absolute;
    left: 515px;
    top: 386px;
    width: 871px;
    height: 83px;
    color: #ffffff;
    font-family: Lato;
    font-size: 112px;
    font-weight: 300;
    line-height: 120px;
    margin: 0px;
}

/* Style for "Shape 1" */
.shape-1{
    position: relative;
    left: 773px;
    top: 618px;
    width: 370px;
    height: 315px;
    box-shadow: 1px 1px 13px rgba(0, 0, 0, 0.3);
    background-color:#dbdbda;
    margin: 0px;
    border-radius: 4px;
    padding-top: 30px;
}
 /* Style for "Shape-1 input" */
 
.shape-1 input{
    width: 310px;
    height: 51px;
    border: 1px solid #cccccc;
    margin: 0px;
    margin-bottom: 10px;
    margin-left: 30px;
    opacity: 0.8;
    color: #333333;
    font-family: Lato;
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
    padding-left: 19px;
}
 /* Style for "Shape-1 button" */

.shape-1 button{
    width: 310px;
    height: 61px;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
    background-color: #5dbdfe;
    margin-top: 10px;
    margin-left: 30px;
    padding: 0px;
}

.shape-1 p{
    position: relative;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
    color: #ffffff;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
    text-transform: uppercase;
    text-align: center;
}

/* _______________________________________________ */

/* Style for "Rectangle 3" */

.Rectangle3{
    position: relative;
    width: 1927px;
    height: 844px;
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

.Rectangle3 div.box{
    width: 515px;
    height: 157px;
    display:inline-block;
    margin-left: 382px;
    margin-right: -295px;
    margin-top: 338px;
    margin-bottom: -272px;
}

/* Style for "Ellipse 2" */

.Rectangle3 div.ellipse{
    position: absolute;
    width: 91px;
    height: 90px;
    background-color: #5dbdfe;
    border-radius: 50%;
}  

/* Style for "Ellipse 2 image" */

.Rectangle3 img{
    position: absolute;
    top: 21px;
    left: 22px;
}

/* Style for "About Us" */

.Rectangle3 h1{
    left: 875px;
    top: 133px;
}

/* Style for "Exclusive" */

.Rectangle3 h2.Exclusive{
    width: 230px;
    margin-left: 120px;
}

/* Style for "100% valid" */

.Rectangle3 h2.Valid{
    width: 272px;
    margin-left: 120px;
}

/* Style for "Free Lifet" */

.Rectangle3 h2.Free{
    width: 230px;
    margin-left: 120px;
}

/* Style for "24/7/365 C" */

.Rectangle3 h2.Customer{
    width: 298px;
    margin-left: 120px;
}

/* Style for "Lorem ipsum" */
.Rectangle3 h3{
    top: 217px;
    left: 518px;
}

/* Style for "Malorum dolores" */

.Rectangle3 p{
    width: 395px;
    height: 87px;
    margin-left: 119px;
    margin-top: 70px;
}


.break {
    flex-basis: 100%;
    height: 0;
}


/* _______________________________________________ */

/* Style for "Rectangle4" */

.Rectangle4{
    height: 999px;
    width: 1920px;
    background-color: #f1f1f1;
}

/* Style for "Features" */

.Rectangle4 h1.Features{
    margin-left: 883px;
    margin-top: 134px;
}

/* Style for "Lorem ipsum" */

.Rectangle4 h3{
    margin-top: 216px;
    margin-left: 518px;
}

/* Styles for "Switch styles" */

.Rectangle4 p.text1{
    width: 409px;
    height: 87px;
    margin-left: 477px;
    margin-top: 408px;

}

/* Style for "Various Scripts" */

.Rectangle4 p.text2{
    width: 370px;
    height: 53px;
    margin-left: 476px;
    margin-top: 631px;

}

/* Style for "Product is" */

.Rectangle4 p.text3{
    width: 409px;
    height: 53px;
    margin-left: 476px;
    margin-top: 820px;

}


/* Style for "Layer 83" */

.Layer83{
    position: absolute;
    width: 285px;
    height: 487px;
    background-color: #f34235;
    margin-left: 977px;
    margin-top: 348px;
}


/* Style for "Layer 82" */

.Layer82{
    position: absolute;
    width: 570px;
    height: 487px;
    background-color: #5dbdfe;
    margin-left: 977px;
    margin-top: 348px;
}


/* Style for "Depositpho" */

.Depositpho{
    position: absolute;
    width: 414px;
    height: 673px;
    background-image: url(../images/man.png);
    margin-left: 1055px;
    margin-top: 326px;
}

/* Styles for "Images" */

.Rectangle4 img{
position: absolute;
}

.Rectangle4 img.logo1{
    margin-left: 386px;
    margin-top: 342px;
}

.Rectangle4 img.logo2{
    margin-left: 380px;
    margin-top: 565px;
}

.Rectangle4 img.logo3{
    margin-left: 377px;
    margin-top: 757px;
}

/* Styles for "Headings" */

.Rectangle4 h2.Instant{
    margin-top: 349px;
    margin-left: 478px;
}

.Rectangle4 h2.Various{
    margin-top: 575px;
    margin-left: 476px;
}

.Rectangle4 h2.Fully{
    margin-top: 764px;
    margin-left: 476px;
}

/* _______________________________________________ */


/* Style for "Rectangle 6" */

.Rectangle6{
    position: relative;
    width: 1920px;
    height: 1064px;
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.1);
    background-color: #f34235;
    }

/* Style for "Advantages" */

.Rectangle6 h1{
    width: 231px;
    height: 43px;
    margin-left: 846px;
    margin-top: 129px;
    color: #ffffff;
}

/* Style for "Lorem ipsum" */

.Rectangle6 h3{
    margin-left: 514px;
    margin-top: 217px;
    color: #ffffff;
    text-align: center;
}

.Rectangle6 div.box1{
    width: 239px;
    height: 268px;
    display:inline-block;
    margin-left: 393px;
    margin-right: -334px;
    margin-top: 338px;
    margin-bottom: -273px;
}

/* Style for "layer 5" */

.Rectangle6 div.ellipse{
    position: absolute;
    width: 90px;
    height: 90px;
    margin: 0px;
    margin-left: 74px;
    background-color:#ffffff;
    border-radius: 50%;
}


/* Styles for "Headings" */

.Rectangle6 h2{
    color: #ffffff;
    line-height: 30px;
    margin-top: 122px;
}

.Rectangle6 h2.text1{
    width: 203px;
    margin-left: 13px;  
}

.Rectangle6 h2.text2{
    width: 223px;
    margin-left: 5px;  
}

.Rectangle6 h2.text3{
    width: 179px;
    margin-left: 26px;  
}

.Rectangle6 h2.text4{
    width: 145px;
    margin-left: 47px;  
}

/* Style for "Text" */

.Rectangle6 p{
    width: 239px;
    height: 87px;
    color: #ffffff;
    margin-top: 181px;
    text-align: center;
}

/* Styles for "Numbers" */

.Rectangle6 p.text{
    width: 32px;
    height: 34px;
    color: #f34235;
    font-size: 45px;
    font-weight: 700;
    line-height: 24px;
    margin-left: 33px;
    margin-top: 29px;
}


/* _______________________________________________ */

/* Styles for "Rectangle5" */

.Rectangle5{
    height: 728px;
    width: 1920px;
    background-color: #f1f1f1;
}

/* Style for "Testimonia" */

.Rectangle5 h1.Testomnia{
    width: 249px;
    height: 35px;
    margin-left: 837px;
    margin-top: 133px;
}

/* Style for "Quotes" */

.Rectangle5  div.logo8{
    position: absolute;
    width: 51px;
    height: 60px;
    background-image: url(../images/logo8.png);
    margin-left: 935px;
    margin-top: 240px;
}

/* Style for "Vis quaeque" */

.Rectangle5  p.text.vis{
    width: 701px;
    height: 53px;
    margin-top: 327px;
    margin-left: 611px;
    text-align: center;
}


/* Style for "Page-1_img" */

.Rectangle5  div.img1{
    position: absolute;
    width: 80px;
    height: 80px;
    background-image: url(../images/img06.png);
    margin-top: 428px;
    margin-left: 922px;
}

/* Style for "Rob Singer" */

.Rectangle5  p.rob-singer{
    width: 287px;
    height: 23px;
    color: #5dbdfe;
    font-size: 24px;
    line-height: 30px;
    margin-top: 540px;
    margin-left: 820px;
}


/* Styles for "Ellipse 6" */

.Rectangle5  div.point{
    position: absolute;
    width: 9px;
    height: 9px;
    background-color: #333333;
    border-radius: 50%;
    margin-top: 586px;
}
.Rectangle5  div.point.black{
    background-color: #333333;
    margin-left: 949px;
}
.Rectangle5  div.point.white{
    background-color: #cccccc;
    margin-left: 967px;
}


/* __________________________________________ */


/* Style for "Rectangle 7" */

.Rectangle7{
    position: relative;
    width: 1984px;
    height: 763px;
    background-color: #ffffff;
    padding-right: 335px;
}
.Rectangle7 div.box{
    width: 239px;
    height: 396px;
    display: inline-block;
    margin-left: 418px;
    margin-top: 240px;
    margin-right: -357px;
}


/* Style for "Layer 99" */

.Rectangle7 img{
    position: absolute;
    margin-left: 19px;
}

/* Style for "Texts" */

.Rectangle7 p{
    width: 239px;
    height: 87px;
    margin-top: 309px;
    text-align: center;
}

/* Style for "Employee's position" */

.Rectangle7 p.blue{
    opacity: 1;
    color: #5dbdfe;
    font-size: 16px;
    margin-top: 274px;
}

/* Style for "Names" */

.Rectangle7 h2{
    line-height: 46px;
    margin-top: 233px;
    text-align: center;
    margin-left:2%;
}

/* Style for "Our Team" */

.Rectangle7 h1{
    margin-left: 890px;
    margin-top: 133px;
}


/* ____________________________________________ */

/* Style for "Layer104" */

.Layer104{
    position: relative;
    width: 1920px;
    height: 761px;
    background-image:url(../images/image2.png);
  }

  .Layer104 div.box{
      display: inline-block;
      min-height: 288px;
      max-height: 663px;
      width: 370px;
      vertical-align: top;
      margin-left: 377px;
      margin-right: -347px;
      overflow: hidden;
      margin-top: 240px;

  }

  
/* Style for "Layer 13" */

  .Layer104 div.Layer13{
    position: relative;
    display: list-item;
    width: 370px;
    min-height: 76px;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.1);
    background-color: #ff4538;
    overflow: hidden;
    margin-bottom: 30px;
  }

  /* Style for "FAQs" */

  .Layer104 h1{
    margin-top: 133px;
    margin-left: 910px;
  }

/* Styles for "Headings" */

  .Layer104 h2{
    position: relative;
    color: #ffffff;
    margin-left: 20px;
    margin-top: 12px;
  }

/* Styles for "Texts" */

  .Layer104 p{
    position: relative;
    color: #ffffff;
    margin-left: 20px;
    margin-bottom: 22px;
    margin-top: 33px;
  }

  /* Style for "Ellipse 5" */

  .Layer104 div.Ellipse{
    position: relative;
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    border-radius: 50%;
    float: right;
    margin-top: 22px;
    margin-right: 20px;
  }

/* Style for "Ico in ellipse 5" */

  .Layer104 p.ico{
    color: #dc3c30;
    font-family: "Material Icons";
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    vertical-align: middle;
    margin: 0px;
  }

/* ____________________________________________ */

/* Style for "Rectangle 8" */

.Rectangle8 {
    position: relative;
    width: 1920px;
    height: 584px;
    background-color: #ffffff;
}

/* Style for "Layer 105" */

.Layer105{
    position: absolute;
    width: 570px;
    height: 340px;
    background-image: url(../images/Layer_105.png);
    margin-left: 377px;
    margin-top: 118px;
}

/* Style for "How Its Work" */

.Rectangle8 h1{
    margin-top: 131px;
    margin-left: 978px;
}

/* Style for "Text" */

.Rectangle8 p{
    width: 559px;
    height: 155px;
    margin-left: 977px;
    margin-top: 299px;
}

/* Style for "Lorem ipsum" */

.Rectangle8 p.blue{
    color: #5dbdfe;
    font-weight: 700;
    opacity: 1;
    margin-left: 978px;
    margin-top: 216px;
    width: 504px;
}

/* ____________________________________________ */

/* Style for "Rectangle10" */

.Rectangle10{
    position: relative;
    width: 1920px;
    min-height: 360px;
}


/* ____________________________________________ */

/* Style for "Rectangle9" */

.Rectangle9{
    height: 809px;
    width: 1920px;
    background-color: #f1f1f1;
}

/* Style for "Latest From" */

.Rectangle9 h1.Latest{
    margin-left: 761px;
    margin-top: 129px;
}

/* Style for "Lorem ipsum" */

.Rectangle9 p.text4{
    width: 898px;
    height: 54px;
    font-weight: 700;
    margin-top: 217px;
    margin-left: 514px;
    text-align: center;
}


/* Style for "Photos" */

.Rectangle9 div.photo{
    position: absolute;
    width: 570px;
    height: 351px;
    margin-top: 338px;
    margin-left: 377px;
}

.photo h2 {
    color: #ffffff;
    margin-left: 34px;
    margin-top: 299px;
    z-index: 1;
}

.photo p{
    color: #cfcfcf;
    font-family: "Lato - Black";
    font-size: 16px;
    margin-top: 274px;
    margin-left: 34px;
    z-index: 1;
}

.photo div.box{
    position: absolute;
    width: 570px;
    height: 351px;
    background-image: linear-gradient(to top, rgba(51, 51, 51, 0.6) 0%, rgba(51, 51, 51, 0) 56%, rgba(51, 51, 51, 0) 100%);
    z-index: 1;
}

.Rectangle9 div.photo2{
    position: absolute;
    width: 570px;
    height: 351px;
    margin-top: 338px;
    margin-left: 977px; 
}


/* Style for "Ellipse 7" */

.Rectangle9 div.Ellipse2{
    position: absolute;
    width: 46px;
    height: 46px;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.1);
    background-color: #5dbdfe;
    border-radius: 50%;
    margin-left: 496px;
    margin-top: 25px;
    z-index: 1;
}
.Ellipse2 img{
    margin-left: 14px;
    margin-top: 14px;
    z-index: 0;
}

/* ____________________________________________ */

/* Style for "Rectangle11" */

.Rectangle11{
    position: relative;
    width: 1922px;
    height: 443px;
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

/* Style for "Our partners" */

.Rectangle11 h1{
    margin-top: 131px;
    margin-left: 836px;
}

.Rectangle11 div.box{
    position: absolute;
    width: 1000px;
    height: 84px;
    margin-left: 491px;
    margin-top: 247px;
}

/* Style for "Layer 108" */

.Rectangle11 img{
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-right: 39px;
}



/* ____________________________________________ */



/* Style for "Shape 5" */

.Shape5{
    position: relative;
    width: 1925px;
    height: 635px;
    background-color: rgba(43, 43, 43, 0.83);
    background-color: #323232;
}

/* Style for "Contact us" */

.Shape5 h1{
    margin-top: 135px;
    margin-left: 862px;
    color: #ffffff;
    text-align: center;
}

/* Styles for "8901 Marmo" */

.Shape5 div.inf{
    position: absolute;
    width: 475px;
    height: 54px;
    margin-left: 725px;
    margin-top: 248px;
}
.Shape5 h2{
    position: relative;
    font-family: "Lato - Bold";
    color: #ffffff;
    text-align: center;
}

.Shape5 h2.bold{
    font-weight: 700;
}

.Shape5 h2.reg{
    font-weight: 400;
}

/* Styles for "Ellipses" */

.Shape5 div.ico{
    position: absolute;
    width: 200px;
    height: 51px;
    margin-left: 875px;
    margin-top: 368px;
}

.ico div{
    width: 51px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
    vertical-align: top;
}

.ico div.ellipse1{
    background-color: #3b579d;
}

.ico div.ellipse2{
    background-color: #5ea9dd;
}

.ico div.ellipse3{
    background-color: #df4a32;
}

/* Style for "Ellipse 8" */

.Shape5 div.ellipse4{
    position: absolute;
    width: 51px;
    height: 51px;
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.1);
    background-color: #5dbdfe;
    border-radius: 50%;
    margin-left: 1825px;
    margin-top: 367px;
}

.ellipse4 img{
    margin-left: 15px;
    margin-top: 20px;
}

.ico img{
    position: relative;
    margin-top: 30%;
    margin-left: 30%;
}

/* Style for "Colorful" */

.Shape5 h3{
    opacity: 0.1;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    margin: 0px;
    margin-left: 840px;
    margin-top: 489px;
    width: 249px;
    height: 13px;
}

/* ____________________________________________ */


/* Style for "Layer 109" */

.Layer109{
    position: relative;
    width: 1920px;
    height: 440px;
    background-image: url(../images/Layer_109.png);
}

/* Style for "Ico" */


.Layer109 img{
    margin-left: 966px;
    margin-top: 172px;
}